# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: xcodebuild -scheme ATV_demo -destination 'generic/platform=tvOS Simulator' build CODE_SIGNING_ALLOWED=NO

    - name: Run tests
      run: xcodebuild -scheme ATV_demo -destination 'platform=tvOS Simulator,name=Apple TV' test
